{erl_opts,
 [debug_info,
  warnings_as_errors,
  warn_untyped_record]}.

{deps, [{wts, "~> 0.1"}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "circle-ci"}.

{plugins, [coveralls]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.
