{erl_opts,
 [debug_info,
  warnings_as_errors,
  warn_untyped_record]}.

{deps, [{wts, "~> 0.3"}]}.

{plugins, [{rebar_erl_vsn, "~> 0.1"}]}.
{provider_hooks, [{pre, [{compile, erl_vsn}]}]}.

{profiles, [
  {test, [{erl_opts, [nowarn_export_all]}]},
  {lint,  [{plugins, [rebar3_lint]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
{xref_ignores, [{oc_sampler_impl, should_sample, 3}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "circle-ci"}.

{project_plugins, [coveralls]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.
