{erl_opts,
 [debug_info,
  warnings_as_errors,
  warn_untyped_record]}.

{deps, [{wts, "~> 0.3"},
        {ctx, "~> 0.4"},
        {jsx, "~> 2.9"},
        {counters, "~> 0.2"}]}.

{plugins, [{rebar_erl_vsn, "0.1.3"}]}.
{provider_hooks, [{pre, [{compile, {default, erl_vsn}}]}]}.

{project_plugins, [rebar3_gpb_plugin, coveralls, rebar3_lint]}.
{gpb_opts, [
  {i, "priv/opencensus-proto/opencensus/proto/trace"},
  {module_name_suffix, "_pb"},
  {module_name_prefix, "oc_"},
  {o_erl, "src"},
  {o_hrl, "include"},
  mapfields_as_maps,
  use_packages,
  {rename,{msg_name,snake_case}},
  {rename,{msg_fqname,base_name}},
  {msg_name_suffix, "_pb"},
  defs_as_proplists,
  {strings_as_binaries, true},
  {type_specs, true}]}.

{profiles, [
  {test, [{erl_opts, [nowarn_export_all]},
          {deps, [{meck, "0.8.9"}]}]},
  {docs, [{deps, [{edown, "0.8.1"}]},
          {edoc_opts,
           [{doclet, edown_doclet},
            {dir, "doc"},
            {subpackages, true}]}]},
  {benchmark, [{src_dirs, ["src", "benchmark"]},
               {deps, [{'erlang-color',
                        {git, "https://github.com/julianduque/erlang-color", {branch, "master"}}}]}]}]}.

{overrides, [{override, rebar3_gpb_plugin, [{deps, [{gpb, "4.1.2"}]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
{xref_ignores, [{oc_sampler_impl, should_sample, 3}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "circle-ci"}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.

{shell, [{apps, [opencensus]}]}.

{post_hooks, [{edoc, "doc/build.sh"}]}.
