[
 {opencensus, [{sampler, {oc_sampler_always, []}},
               {reporter, {oc_reporter_stdout, []}},

               {stat, [{exporters, [{oc_stat_exporter_stdout, []}]}]},

               {sweeper, #{interval => 300000,
                           strategy => drop,
                           span_ttl => 300000}}]},

 {kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{level => debug,
        formatter => {logger_formatter,
                      #{template => [time, " ", pid, " ",
                                     {[span_ctx, trace_id], ["trace_id=", [span_ctx, trace_id], " "], []},
                                     {[span_ctx, span_id], ["span_id=", [span_ctx, span_id], " "], []},
                                     {[span_ctx, trace_options], ["trace_options=", [span_ctx, trace_options], " "], []},
                                     msg, "\n"]}}
       }}]}]}
].
